.text-nav{
  opacity:.8;
  display:block;
  color: #cccccc;
  font-size:12px;
  font-weight:700;
  letter-spacing:1px;
  text-transform:uppercase;
  transform:scaleY(.9);
}

.text-title{
  display:block;
  color: #404040;
  font-size:13px;
  font-weight:700;
  text-transform:uppercase;
  transform:scaleY(.9);  	
}

.text-content{
  color:#999999;
  font-weight:100;
  font-size:13px;
}

.text-tag{
  color:#999999;
  font-weight:100;
  font-size:11px;
  opacity: .7;
}

.text-price{
  color:#ff5722;
  font-weight:600;
  font-size:11px;
}

.action-btn{
  display:inline;
  text-align:center;
  background-color:#ff5722;
  padding: 4px 30px;
  color:white;
  font-weight:700;
  letter-spacing:1px;
  font-size:12px;
  color:white;
  text-transform: uppercase; 
}


.text-icon {
  color: #cccccc;
  text-align: baseline;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

/*
.text-hover:hover {
  color:black;
  font-weight: bold;
  transform: scale(1.2);
  transition: all .2s linear;
}
*/

